.box{
    background-color: #9b59b6;
    height: 100px;
    width: 100px;
    line-height: 100px;
    text-align: center;
    color: white;
    font-size: 17px;
    border-radius: 20px;
}
/* 
.box:hover{
    background: #e74c3c;
    transform-origin: top left;
    transform: scale(2);
    opacity: 0.5;
    border-radius: 50px;
}

.animated{
    transition-property: background-color, border-radius;
    transition-duration: 1s, 1s;
    transition-delay: 2s, 0.5s;
} */

.animated{
    transition-property: transform;
    transition-duration: 2s;
    transition-timing-function: cubic-bezier(0.650, -0.600, 0.220, 1.650);
}

.box:hover{
    transform: translateX(300px);
}

/* easings.net */
/* matthewlein.com/tools/ceaser */